

<div class="container">
  <form role="form" name='form' #loginForm="ngForm" (ngSubmit)='loginForm.form.valid && onSubmit()'>
    <div class="card">
      <div class="form-group ">
        <div class="card-header">
            <label for="exampleInputEmail1">Email address</label>
        </div>
        <div class="card-body">
            <input type="text" class='form-control' name="email" #email="ngModel" [(ngModel)]="loginDetails.email" class="form-control input-underline input-lg"  placeholder="Email"  required >
        </div>  
      </div>
    </div>
    
    <div class="card">
      <div class="form-group">
        <div class="card-header">
          <label for="exampleInputPassword1">Password</label>
        </div>
        <div class="card-body">
            <input type="text" class='form-control' name="password" #password="ngModel" [(ngModel)]="loginDetails.password" class="form-control input-underline input-lg"  placeholder="Password" required >
        </div>
      </div>
    </div>
    
    <div class="footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button (click) = 'moveToSendEmailPage()'  class="btn btn-primary">Send Email</button>
        <button (click) = 'moveToSecondPage()'  class="btn btn-primary">All Record</button>
    </div>
  </form>
</div>

